*
{
margin:  0;
padding: 0;
}
body
{
background:url(bg.jpg);
background-repeat: no-repeat;
background-size:cover;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(picture.jpg);
height: 200vh;
background-size:cover;
background-position: center;
}

.main-nav
{


position: fixed;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
width: 100%
height:70px;
z-index: 1;



}
.main-nav ul li
{

float: left;
width: 150px;
height: 50px;
background-color: white;
opacity: .5;
line-height: 40px;
text-align: center;
font-size: 15px;
}

.main-nav ul li
{
text-decoration: none;
color: white;
display: block;
}
.main_nav li
{
display: inline-block;
}

.main-nav li a
{
color: white;
text-decoration: none;
padding: 5px 20px;
font-family: "Roboto",  sans-serif;
font-size: 15px;

}

.main-nav li.active a
{
border: 1px solid white;
float: left;
text-decoration: none;
}

.logo img
{
width: 150px;
height: auto;
float: left;
}

body
{
font-family: monospace;

}

.row
{
max-width: 1200px;
margin: auto;

}

.hero
{
position: absolute;
width: 1200px;
margin-left: 0;
margin-top: 0;
}
.hero h1

{
position: absolute;
top:100px;
left: 27.5%;
margin: 0;
padding: 0;
font-size: 4.5em;
} 
h1

{
color: black;
text-transform: uppercase;
font-size: 70px;
text-align: center;
margin-top: 275px;
}
.button
{
position: absolute;
top: 140px;
left: 30%;
margin-top: 30px;
margin-left: 20px;
}

.btn
{
border: 1px solid white;
padding: 10px 30px;
color: white;
text-decoration: none;
margin-right: 5px;
font-size: 13px;
text-transform: uppercase;
}

.btn-one
{
font-family: "Roboto", sans-serif;
*}

.btn-one:hover
{
background-color: white;
transition: all 0.5s ease-in;
}
.btn-two
{
font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
background-color: white;
transition: all 0.5s ease-in;
}

.education {
	right: 20%;
	top: 50%;
	font-family: century gothic;
	padding: 150px;
	color:  black;
}

.education p{
	font-size: 25px;
	line-height: 40px;
}

.hobbies {
	right: 20%;
	top: 150%;
	font-family: century gothic;
	padding: 150px;
	color:  black;
}

.hobbies p{
	font-size: 35px;
	line-height: 40px;
} 
.fh5co-project-item {
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-project-item {
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-project-item figure {
  height: 240px;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.fh5co-project-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.fh5co-project-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-project-item .fh5co-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.fh5co-project-item .fh5co-text h2, .fh5co-project-item .fh5co-text span {
  text-decoration: none !important;
}
.fh5co-project-item .fh5co-text h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px 0;
  color: #f54c53;
}
.fh5co-project-item .fh5co-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.fh5co-project-item .fh5co-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-project-item:hover, .fh5co-project-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.fh5co-project-item:hover img, .fh5co-project-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.fh5co-project-item:hover figure .overlay, .fh5co-project-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.fh5co-project-item:hover figure .overlay i, .fh5co-project-item:focus figure .overlay i {
  margin-top: -15px;
}
.fh5co-project-item:hover h2, .fh5co-project-item:hover span, .fh5co-project-item:focus h2, .fh5co-project-item:focus span {
  text-decoration: none !important;
}
